---
layout: default
---

<div class="header-container">

  <header class="post-header about">

    <style>
      .logo-column {
                float: left;
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
        }
    
      .text-column {
          margin-left: 20%;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

    </style>

    <div class="logo-column">
      <img class="logo" src="{{ page.logo }}" style="width: 75%; height: 75%;">
    </div>
    
    <div class="text-column"></div>
      <h1 class="post-title">{{ page.title }} </h1>
      <h2 class="post-description clearfix">{{ page.description }} </h2>
    </div>

  </header>

<div class="page-content">
  <div class="wrapper">
      {{ content }}
  </div>
</div>

</div>